* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
}

canvas {
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1200px;
    width: 100%;
    height: 70vh;
}

    .record__button--start:after{
        content: 'Start recording'
    }

    .record__button--stop:after {
        content: 'Stop recording'
    }
